{% extends 'base.html' %}

{% block content %}

 <h1>CryptoBuzz</h1>
 <h2>Your one stop for all things crypto</h2>
 <p>We are your trusted information provider, for latest happening on the web3 space</p>
 <p>Read tons of articles from curated knowledge base</p>
 <p>Participate in legit airdrop campaigns</p>
 <p>Stay on top of the latest happenings with our news</p>
 <iframe src="https://lottie.host/embed/bcbdb60a-fa4d-4fbc-9a72-082a419661a8/y0b52fBpR1.json" class="w-[500px]"></iframe>
 <p>All in one web app</p>

{% endblock %}