@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	.navlink {
		@apply text-2xl hover:text-buzzorange font-medium cursor-pointer select-none;
	}
	.tab-non-active{
		@apply w-[50%] h-[100%] text-2xl bg-orange-300 flex items-center justify-center active:bg-buzzorange active:text-white cursor-pointer;
	}
	.card{
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
	.about-odd{
		@apply w-[100%] flex flex-col items-center mb-5 text-2xl font-roboto font-bold bg-slate-50 p-5 justify-center;
	}
	.about-even{
		@apply w-[100%] justify-center flex flex-col items-center mb-5 text-2xl font-roboto font-bold bg-orange-50 p-5;
	}
}